# A Simple Example of Clustering

You are given much more country data. Using the same methodology as the one in the lecture, group all the countries in 2 clusters. 

Try with other numbers of clusters and see if they match your expectations. Maybe 7 is going to be a cool one!

Plot the data using the <i> c </i> parameter to separate the data by the clusters we defined.  

<i> Note: c stands for color <i>

## Import the relevant libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.cluster import KMeans

## Load the data

Load data from the csv file: <i> 'Countries.csv'</i>.

In [3]:
data = pd.read_csv('Countries-exercise.csv')
data

             name   Longitude   Latitude
0           Aruba  -69.982677  12.520880
1     Afghanistan   66.004734  33.835231
2          Angola   17.537368 -12.293361
3        Anguilla  -63.064989  18.223959
4         Albania   20.049834  41.142450
..            ...         ...        ...
236         Samoa -172.164851 -13.753243
237         Yemen   47.586762  15.909280
238  South Africa   25.083901 -29.000341
239        Zambia   27.774759 -13.458242
240      Zimbabwe   29.851441 -19.004204

[241 rows x 3 columns]

## Plot the data

Plot the <i>'Longtitude'</i> and <i>'Latitude'</i> columns.

In [4]:
x = data.iloc[:,1:3]
x

      Longitude   Latitude
0    -69.982677  12.520880
1     66.004734  33.835231
2     17.537368 -12.293361
3    -63.064989  18.223959
4     20.049834  41.142450
..          ...        ...
236 -172.164851 -13.753243
237   47.586762  15.909280
238   25.083901 -29.000341
239   27.774759 -13.458242
240   29.851441 -19.004204

[241 rows x 2 columns]

## Select the features

Create a copy of that data and remove all parameters apart from <i>Longitude</i> and <i>Latitude</i>.

## Clustering

Assume there are only two clusters.

### Clustering Resutls

Did you remember to use the <i> c </i> parameter to separate the data by the clusters we defined?

If you haven't, go back and play around with the number of clusters. 

Try 3, 7 and 8 and see if the results match your expectations!